    <!-- ******************************** -->
    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer__container">
        <div class="social-media">
          
          <a href="https://github.com/PawelGozdz" target="_blank">
            <img src="./assets/img/ikona-github.png" alt="Ikona Githuba" title="Github">
          </a>
          
          <a href="https://www.facebook.com/RWD-Strony-Internetowe-166162234067461/" target="_blank">
            <img src="./assets/img/ikona-facebook.png" alt="Ikona Facebooka" title="Facebook">
          </a>
        </div>
        <div class="footer__text">
          {global.yearCreated} © <a href="http://rwd-stronyinternetowe.pl">{global.companyName}</a> |
          <span>Strony internetowe | Landing Page | Projektowanie UX | Pozycjonowanie | Optymalizacja | Współpraca</span>
          <p class="footer__cities">Starachowice | Skarżysko Kamienna | Ostrowiec Świętokrzyski | Kielce | Radom | Suchedniów | Kałków | Lubienia | Mirzec | Iłża | Kałków</p>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
  
  <script src="public/app.js"></script>
</body>
</html>