    <!-- ******************************** -->
    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer__container">
        <div class="social-media">
          
          <a href="https://github.com/PawelGozdz" target="_blank">
            <img src="./assets/img/ikona-github.png" alt="Ikona Githuba" title="Github">
          </a>
        </div>
        <div class="footer__text">
          {global.yearCreated} © <a href="#">{global.companyName}</a> |
          
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
  
  <script src="public/app.js"></script>
</body>
</html>